################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Upwork.LekeSalami.PrincipalBank/v15
/.vs/Upwork.LekeSalami.PrincipalBank/FileContentIndex
